@font-face {
  font-family: 'CorePattern';
  src: url('../fonts/CorePattern.woff2') format('woff2'),
       url('../fonts/CorePattern.woff')  format('woff'),
       url('../fonts/CorePattern.ttf')   format('truetype'),
       url('../fonts/CorePattern.svg#CorePattern') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  unicode-range: U+0C00-0C01, U+0C10-0C11;
}
  
[class^="icon-"], [class*=" icon-"] {
  font-family: 'CorePattern' !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-00::before { content: "\0C00"; }
.icon-01::before { content: "\0C01"; }
.icon-10::before { content: "\0C10"; }
.icon-11::before { content: "\0C11"; }
